.service_wrapper {
    margin-top: 100px;

    .bannerWrapper {
        .banner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width:480px) {
                display: grid;
                align-items: center;
                gap: 28px;
            }
            .leftPanel {
                flex: 1;
                @media (max-width:480px) {
                    order: 2;
                }
                .title {
                    color: var(--black);
                    font-family: var(--font-mulish);
                    font-size: 50px;
                    font-weight: 700;
                    line-height: 70px;
                    margin-bottom: 20px;
                    animation: fadeInUp 0.8s ease-in-out;
                    span{
                        color: var(--primary);
                    }
                    @media (max-width:1199px) {
                        font-size: 32px;
                        line-height: 42px;
                    }
                }

                .discription {
                    color: var(--secondary);
                    font-family: var(--font-open-sens);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    margin-bottom: 48px;
                    animation: fadeInUp 0.8s ease-in-out;
                    @media (max-width:1199px) {
                        font-size: 14px;
                        line-height: 22px;
                    }
                }

                .service_btn {
                    animation: fadeInUp 0.8s ease-in-out;
                }
            }

            .rightPanel {
                overflow: hidden;
                flex: 1;
                display: flex;
                align-items: flex-end;
                justify-content: end;
                width: 467px;
                height: 467px;
                @media (max-width:1199px) {
                    height: 388px;
                    width: 388px;
                }

                @media (max-width:480px) {
                    height: 322px;
                    width: 100%;
                    order: 1;
                }
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    display: block;
                    margin: auto;
                    // transform: scaleX(-1);
                }
            }
        }
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.Leverage_AI,
.BlockchainSolutions {
    padding: 59px 0;

    .smallTitle {
        color: var(--secondary);
        text-align: center;
        font-family: var(--font-mulish);
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        animation: fadeInUp 0.8s ease-in-out;
        @media (max-width:1199px) {
            font-size: 14px;
        }

        @media (max-width:480px) {
            margin-bottom: 20px;
        }
        @media (max-width:360px) {
            font-size: 12px;
        }
    }

    .heading {
        color: var(--black);
        font-family: var(--font-mulish);
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 70px;
        text-align: center;
        animation: fadeInUp 0.8s ease-in-out;
        @media (max-width:1199px) {
            font-size: 32px;
            line-height: 68px;
        }

        @media (max-width:480px) {
            font-size: 26px;
            line-height: 38px;
        }

        @media (max-width:360px) {
            font-size: 22px;
            line-height: 32px;
        }
    }

    .service_wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 96px;
        @media (max-width:1199px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 40px;
        }

        @media (max-width:480px) {
            grid-template-columns: repeat(1, 1fr);
        }
        .card {
            .icon {
                background-color: #FFF;
                filter: drop-shadow(4px 4px 30px rgba(174, 174, 236, 0.40)) drop-shadow(-4px -4px 30px #FFF);
                padding: 5px;
                width: 97px;
                height: 97px;
                margin-bottom: 42px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width:480px) {
                    width: 70px;
                    height: 70px;
                    margin-bottom: 14px;
                }
                img{
                    @media (max-width:480px) {
                        width: 38px;
                        height: 38px;
                    }
                }
            }

            .title {
                color: var(--black);
                font-family: var(--font-mulish);
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 38.4px;
                margin-bottom: 16px;
                @media (max-width:480px) {
                    font-size: 20px;
                    line-height: 26px;
                }
            }

            .description {
                color: var(--secondary);
                font-family: var(--font-open-sens);
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0.32px;
            }
        }
    }
}

.BlockchainSolutions {
    .service_wrapper {

        .card {
            .icon {
                margin: 0 auto 42px auto;
            }

            .title {
                font-family: var(--font-mulish);
                text-align: center;
            }

            .description {
                text-align: center;
            }
        }
    }
}

.AIProfessionals {
    padding: 90px 0;
    background: var(--bg-light);

    .mainSlideWrap {
        padding-bottom: 80px;

        .bannerCard {
            .bannerWrapper {
                .banner {
                    display: grid;
                    grid-template-columns: 371px 1fr;
                    gap: 120px;
                    @media (max-width:1199px) {
                        grid-template-columns: 1fr 1fr;
                        gap: 40px;
                        padding: 0 60px;
                    }

                    @media (max-width:480px) {
                        grid-template-columns: 1fr;
                        padding: 0;
                    }
                    .leftPanel {
                        text-align: right;
                        @media (max-width:480px) {
                            width: 320px;
                            height: 320px;
                            margin: 0 auto;
                        }
                    }

                    .rightPanel {
                        .small {
                            color: var(--purple);
                            font-family: var(--font-mulish);
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 25.6px;
                            margin-bottom: 16px;
                            display: flex;
                            align-items: center;
                            gap: 8px;
                        }

                        .title {
                            color: var(--black);
                            font-family: var(--font-mulish);
                            font-size: 48px;
                            font-weight: 700;
                            line-height: normal;
                            margin-bottom: 18px;
                            @media (max-width:1199px) {
                                font-size: 30px;
                            }
                            @media (max-width:360px) {
                                font-size: 28px;
                                line-height: 32px;
                            }
                        }

                        .itemList {
                            .discription {
                                color: var(--secondary);
                                font-family: var(--font-open-sens);
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 26px;
                                letter-spacing: 0.32px;
                                margin-bottom: 34px;
                                display: flex;
                                align-items: center;
                                gap: 37px;
                                @media (max-width:1199px) {
                                    line-height: 22px;
                                    font-size: 14px;
                                }

                                &:not(:last-child) {
                                    .count {
                                        &::before {
                                            content: "";
                                            position: absolute;
                                            bottom: -42px;
                                            right: 0;
                                            background: url("../../assets/icons/arrowDownList.svg") no-repeat center;
                                            height: 34px;
                                            width: 100%;
                                            z-index: -1;
                                        }


                                    }
                                }


                                .count {
                                    border-radius: 21px;
                                    background: var(--white);
                                    box-shadow: -4px -4px 30px 0px var(--white), 4px 4px 30px 0px rgba(174, 174, 236, 0.40);
                                    padding: 14px;
                                    height: 37px;
                                    width: 37px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    position: relative;

                                    color: var(--black);
                                    font-family: var(--font-mulish);
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 30px;
                                    letter-spacing: 0.32px;

                                    @media (max-width:1199px) {
                                        line-height: 22px;
                                        font-size: 14px;
                                    }
                                }
                            }
                        }


                        .contact_us_btn {
                            margin-top: 31px;
                        }
                    }
                }
            }
        }
    }
}

.AI_Models_Wrapper {
    padding: 82px 0;

    .heading {
        color: var(--black);
        font-family: var(--font-mulish);
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 70px;
        text-align: center;
        margin-bottom: 80px;
        @media (max-width:1199px) {
            font-size: 32px;
            line-height: 68px;
            margin-bottom: 40px;
        }

        @media (max-width:480px) {
            font-size: 28px;
            line-height: 42px;
        }
        @media (max-width:360px) {
            font-size: 22px;
            line-height: 32px;
        }
    }

    .ai_service_wrapper {
        display: flex;
        align-items: center;
        gap: 31px;
        justify-content: center;
        flex-wrap: wrap;

        .brand {
            border-radius: 143px;
            background: var(--bg-light);
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 21.5px 18px 20.5px 18px;
            width: 148px;
            height: 148px;
            display: flex;
            gap: 12px;
            @media (max-width:1199px) {
                width: 120px;
                height: 120px;

                img {
                    height: 40px;
                    width: 40px;
                }
            }

            .title {
                color: var(--black);
                font-family: var(--font-mulish);
                font-size: 14px;
                font-weight: 700;
                line-height: normal;
                @media (max-width:1199px) {
                    font-size: 12px;
                }
            }
        }
    }
}



.form_wrapper {
    background-color: var(--bg-light);
    padding: 47px 0 78px 0;

    .heading {
        color: var(--black);
        font-family: var(--font-mulish);
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 70px;
        text-align: center;
        margin-bottom: 20px;

        @media (max-width:1199px) {
            font-size: 32px;
            line-height: 68px;
        }

        @media (max-width:480px) {
            font-size: 28px;
            line-height: 38px;
        }
        @media (max-width:360px) {
            font-size: 22px;
            line-height: 32px;
        }
    }

    .description {
        color: var(--secondary);
        text-align: center;
        font-family: var(--font-open-sens);
        font-size: 16px;
        font-weight: 500;
        line-height: 25.6px;
        margin-bottom: 70px;

        @media (max-width:1199px) {
            font-size: 14px;
        }
        @media (max-width:360px) {
            font-size: 12px;
            line-height: 22px;
        }
    }

    .form {

        .row,
        .column {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
            margin-bottom: 32px;

            @media (max-width:480px) {
                grid-template-columns: 1fr;
            }

            .input_wrapper {

                // padding-bottom: 10px;
                .form_control {
                    padding: 14px 16px;
                    border-radius: 16px;
                    border: 1px solid var(--stroke, rgba(118, 119, 118, 0.19));
                    background: var(--white);
                    width: 100%;
                    color: var(--black);
                    font-family: var(--font-mulish);
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 25.6px;

                    @media (max-width:480px) {
                        padding: 8px 16px;
                        font-size: 14px;
                    }
                    /* 160% */
                    &:focus {
                        outline: 1px solid var(--primary);
                    }
                }
            }
        }

        .column {
            display: flex;
            flex-direction: column;

            .form_control {
                height: 306px;
            }
        }

        .submit_btn {
            padding: 10px 260px;
            margin: 0 auto;

            @media (max-width:480px) {
                padding: 8px 20px;
                display: block;
                width: 100%;
                font-size: 14px;
            }
        }
    }
}