.swipperWrapper {
    position: relative;
    .mainSlideWrap {
        // background-color: red;

        .bannerWrapper {
            .banner {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 204px;
                padding: 150px 0;

                .leftPanel {
                    .title {
                        color: var(--black);
                        font-family: var(--font-open-sens);
                        font-size: 50px;
                        font-weight: 700;
                        line-height: 70px;
                        margin-bottom: 32px;
                    }

                    .discription {
                        color: var(--secondary);
                        font-family: var(--font-open-sens);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 32px;
                        margin-bottom: 32px;
                    }


                }

                .rightPanel {
                    overflow: hidden;
                    width: 100%;



                }
            }
        }
    }

}
