.swipperWrapper {
    position: relative;

    .mainSlideWrap {
        // background-color: red;

        .bannerWrapper {
            .banner {
                display: grid;
                align-items: center;
                // justify-content: space-between;
                grid-template-columns: 1fr 1fr;
                gap: 204px;
                padding: 100px 0;

                @media (max-width:1199px) {
                    gap: 70px;
                    padding: 98px 0px 40px 0;
                }

                @media (max-width:480px) {
                    grid-template-columns: 1fr;
                    gap: 28px;
                }

                .leftPanel {
                    @media (max-width:480px) {
                        order: 2;
                    }

                    .title {
                        color: var(--black);
                        font-family: var(--font-mulish);
                        font-size: 50px;
                        font-weight: 700;
                        line-height: 70px;
                        margin-bottom: 32px;
                        animation: fadeInUp 1.3s ease-in-out;

                        @media (max-width:1199px) {
                            font-size: 32px;
                            line-height: 42px;
                        }
                    }

                    .discription {
                        color: var(--secondary);
                        font-family: var(--font-open-sens);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 32px;
                        margin-bottom: 32px;
                        animation: fadeInUp 1.3s ease-in-out;

                        @media (max-width:1199px) {
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }

                    .service_btn {
                        animation: fadeInUp 1.3s ease-in-out;
                    }

                }

                .rightPanel {
                    // overflow: hidden;
                    width: 510px;
                    height: 510px;
                    animation: fadeInUp 1.3s ease-in-out;

                    @media (max-width:1199px) {
                        height: 388px;
                        width: 388px;
                    }

                    @media (max-width:480px) {
                        height: 322px;
                        width: 100%;
                        order: 1;
                    }

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        display: block;
                        margin: auto;

                        &.flip {
                            transform: scaleX(-1);
                        }
                    }

                }
            }
        }
    }

}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.businessGrowthWrapper {
    padding: 76px 0;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        background: url("../../assets/images/bg-business.png") no-repeat center;
        height: 100%;
        width: 50%;
        z-index: 1;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: url("../../assets/images/bg2-business.png") no-repeat center;
        height: 100%;
        width: 50%;
        z-index: 1;
    }

    .mainTital {
        color: var(--secondary);
        font-family: var(--font-mulish);
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 12px;
        text-align: center;
        animation: fadeInUp .5s ease-in-out;

        @media (max-width:1199px) {
            font-size: 14px;
        }

        @media (max-width:480px) {
            margin-bottom: 20px;
        }

        @media (max-width:360px) {
            font-size: 12px;
        }
    }

    .title {
        color: var(--black);
        text-align: center;
        font-family: var(--font-mulish);
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 12px;
        animation: fadeInUp .5s ease-in-out;

        @media (max-width:1199px) {
            font-size: 32px;
            line-height: 68px;
        }

        @media (max-width:480px) {
            font-size: 26px;
            line-height: 38px;
        }

        @media (max-width:360px) {
            font-size: 22px;
            line-height: 32px;
        }
    }

    .paragraph {
        color: var(--secondary);
        text-align: center;
        font-family: var(--font-open-sens);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.6px;
        letter-spacing: 1px;
        margin-bottom: 84px;
        animation: fadeInUp .5s ease-in-out;

        @media (max-width:1199px) {
            font-size: 14px;
        }

        @media (max-width:480px) {
            margin-bottom: 20px;
        }

        @media (max-width:360px) {
            font-size: 12px;
        }
    }

    .cardGroup {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 99px;

        @media (max-width:1199px) {
            gap: 24px;
            flex-wrap: wrap;
        }

        .card {
            .cardTitle {
                color: var(--secondary);
                font-family: var(--font-mulish);
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                margin-bottom: 26px;

                @media (max-width:1199px) {
                    font-size: 16px;
                }

                @media (max-width:480px) {
                    margin-bottom: 20px;
                }

                @media (max-width:360px) {
                    font-size: 14px;
                }
            }

            .count {
                color: var(--black);
                font-family: var(--font-mulish);
                font-size: 64px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                margin-bottom: 8px;

                @media (max-width:1199px) {
                    font-size: 48px;
                }

                @media (max-width:480px) {
                    margin-bottom: 32px;
                }

                @media (max-width:360px) {
                    font-size: 22px;
                }
            }

            .description {
                color: var(--secondary);
                font-family: var(--font-open-sens);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1px;

                @media (max-width:1199px) {
                    font-size: 14px;
                }
            }
        }
    }
}

.PowerfulSolutionWrapper {
    padding: 76px 0;
    position: relative;

    .mainTital {
        color: var(--secondary);
        font-family: var(--font-mulish);
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 16px;
        text-align: center;

        @media (max-width:1199px) {
            font-size: 14px;
        }

        @media (max-width:480px) {
            margin-bottom: 20px;
        }

        @media (max-width:360px) {
            font-size: 12px;
        }
    }

    .title {
        color: var(--black);
        text-align: center;
        font-family: var(--font-mulish);
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 16px;

        @media (max-width:1199px) {
            font-size: 32px;
            line-height: 68px;
        }

        @media (max-width:480px) {
            font-size: 26px;
            line-height: 38px;
        }

        @media (max-width:360px) {
            font-size: 22px;
            line-height: 32px;
        }
    }

    .paragraph {
        color: var(--secondary);
        text-align: center;
        font-family: var(--font-open-sens);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25.6px;
        letter-spacing: 1px;
        margin-bottom: 84px;

        @media (max-width:1199px) {
            font-size: 14px;
        }

        @media (max-width:480px) {
            margin-bottom: 20px;
        }

        @media (max-width:360px) {
            font-size: 12px;
        }
    }

    .cardGroup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;

        @media (max-width:480px) {
            flex-wrap: wrap;
            justify-content: center;
        }


        .card {
            max-width: 283px;
            padding: 30px 24px;
            background: var(--white);
            box-shadow: -4px -4px 30px 0px #FFF, 4px 4px 30px 0px rgba(174, 174, 236, 0.40);
            border-radius: 6px;
            transition: all .3s ease;
            border: 1px solid transparent;

            &:hover {
                transform: scale(1.05);
                border: 1px solid #efefef;
                backdrop-filter: blur(4px);
                background: var(--white);

                .cardTitle {
                    background: var(--2, linear-gradient(137deg, #612FFF 13.72%, #D200A3 100%));
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            .cardTitle {
                color: var(--secondary);
                text-align: center;
                font-family: var(--font-mulish);
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                text-transform: uppercase;
                line-height: normal;
                letter-spacing: 0.1px;
                margin-bottom: 28px;
                height: 85px;
                transition: all .3s ease;
            }

            .svgIcons {
                margin-bottom: 8px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            .description {
                color: var(--secondary);
                font-family: var(--font-open-sens);
                text-align: center;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 19.92px;
                letter-spacing: -0.2px;
                margin-bottom: 22px;
            }

            .exploreBtn {
                width: 100%;
                color: var(--white);
                text-align: center;
                font-family: var(--font-mulish);
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 28.8px;
                text-transform: uppercase;
                transition: background-color .3s ease-in-out;

                // border: 1px solid transparent;
                // &:hover {
                //     background-color: var(--white);
                //     color: var(--primary);
                //     outline: 1px solid var(--primary);
                // }
            }
        }
    }
}

.graphWrapper {
    .graphWrap {
        position: relative;
        padding-bottom: 188px;
    }
}

.ProcessOfWorkingWrapper {
    padding: 55px 0 94px 0;
    position: relative;
    background: #FAFAFA;

    .title {
        color: var(--black);
        text-align: center;
        font-family: var(--font-mulish);
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
    }

    .tabContainer {
        .tabList {
            display: flex;
            align-items: center;
            gap: 44px;
            overflow-x: auto;
            padding: 46px 0;

            .tabItem {
                border-radius: 32px;
                color: var(--black);
                text-align: center;
                font-family: var(--font-mulish);
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 38.4px;
                padding: 6px 50px;
                border: 1px solid var(--stroke, rgba(118, 119, 118, 0.19));
                background: #FFF;
                cursor: pointer;
                transition: all .3s linear;

                &.active {
                    box-shadow: 0px 10px 40px -10px rgba(123, 193, 141, 0.61);
                    color: var(--white);
                    background: var(--primary);
                    border: 1px solid transparent;
                }
            }
        }
    }

    .tabContentWrap {
        margin-top: 80px;

        .para {
            color: var(--secondary);
            font-family: var(--font-open-sens);
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 25px;
        }

        .tabContent {
            display: grid;
            grid-template-columns: 433px 1fr;
            gap: 29px;

            .leftContent {

                .mainHeading {
                    color: var(--black);
                    font-family: var(--font-mulish);
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 68px;
                }
            }

            .rightContent {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                grid-template-rows: repeat(8, 5vw);
                grid-gap: 15px;

                .card {
                    padding: 29px;
                    border-radius: 8px;
                    background: var(--white);
                    box-shadow: -4px -4px 30px 0px var(--white), 4px 4px 30px 0px rgba(174, 174, 236, 0.40);
                    transition: all .2s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        transform: skew(-0.005turn, 3deg);
                        filter: blur(25);

                        .title {
                            background: var(--2, linear-gradient(137deg, #612FFF 13.72%, #D200A3 100%));
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }

                    .Subtitle {
                        background: var(--2, linear-gradient(137deg, #612FFF 13.72%, #D200A3 100%));
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-family: var(--font-open-sens);
                        font-size: 12px;
                        font-weight: 700;
                        line-height: normal;
                        text-transform: uppercase;
                        margin-bottom: 13px;
                    }

                    .title {
                        color: var(--black);
                        font-family: var(--font-mulish);
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        text-align: left;
                    }

                    .Icon {
                        background: #FFF;
                        box-shadow: -4px -4px 30px 0px #FFF, 4px 4px 30px 0px rgba(174, 174, 236, 0.40);
                        padding: 9px;
                        width: 78px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    &:first-child {
                        grid-column-start: 6;
                        grid-column-end: 1;
                        grid-row-start: 1;
                        grid-row-end: 5;
                    }

                    &:nth-child(2) {
                        grid-column-start: 6;
                        grid-column-end: 9;
                        grid-row-start: 1;
                        grid-row-end: 5;
                    }

                    &:nth-child(3) {
                        grid-column-start: 4;
                        grid-column-end: 1;
                        grid-row-start: 5;
                        grid-row-end: 9;
                    }

                    &:nth-child(4) {
                        grid-column-start: 4;
                        grid-column-end: 9;
                        grid-row-start: 5;
                        grid-row-end: 9;
                    }

                    &:nth-child(5) {
                        grid-column-start: 5;
                        grid-column-end: 1;
                        grid-row-start: 9;
                        grid-row-end: 10;
                    }

                    &:nth-child(6) {
                        grid-column-start: 5;
                        grid-column-end: 9;
                        grid-row-start: 9;
                        grid-row-end: 10;

                    }
                }
            }
        }
    }
}


.whyChoseUs_Wrapper {
    // padding: 50px 0;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0;
        top: 0;
        background: var(--purple);
        @media (max-width:480px) {
            width: 100%;
            height: 56%;
            background: transparent;
        }
    }
    

    .whyChoseUs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 141px;
        align-items: flex-start;

        @media (max-width:480px) {
            grid-template-columns: 1fr;
        }

        .leftPanel {
            position: sticky;
            top: 0;
            left: 0;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media (max-width:480px) {
                height: 100%;
                top: 68px;
                z-index: 1;
                background: var(--purple);
                padding: 20px 25px 25px;
                border-radius: 20px;
        
            }
            .logo {
                margin: 24px auto;
                display: block;
                @media (max-width:480px) {
                    margin: 15px auto;
                    width: 100%;
                    height: 38px;
                }
            }

            .heading {
                color: var(--Text-Black, #ffffff);
                text-align: center;
                font-family: var(--font-mulish);
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.5px;
                margin-bottom: 44px;
                @media (max-width:1199px) {
                    font-size: 32px;
                }
                @media (max-width:480px) {
                    font-size: 18px;
                    margin-bottom: 18px;
                }
            }

            .contact_btn {
                padding: 10px 24px;
                border-radius: 8px;
                border: 1px solid var(--text-fade, #ffffff);
                color: var(--white);
                text-align: center;
                font-family: var(--font-mulish);
                font-size: 18px;
                font-weight: 700;
                line-height: 28.8px;
                background-color: transparent;
                text-transform: uppercase;
                cursor: pointer;
                margin: 0 auto;
                display: block;
                @media (max-width:480px) {
                    padding: 4px 16px;
                    font-size: 14px;
                }
            }
        }

        .rightPanel {
            padding: 50px 0;

            .card {
                &:not(:last-child) {
                    margin-bottom: 64px;
                }

                .count,
                .countTitle {
                    color: var(--light);
                    font-family: var(--font-mulish);
                    font-size: 36px;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: -0.63px;
                }

                .countTitle {
                    font-size: 38px;
                }

                .title {
                    color: var(--black);
                    font-family: var(--font-mulish);
                    font-size: 36px;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: -0.5px;
                    margin-bottom: 16px;
                    @media (max-width:1199px) {
                        font-size: 28px;
                    }
                    @media (max-width:480px) {
                        font-size: 18px;
                        margin-bottom: 18px;
                    }
                }

                .description {
                    color: var(--secondary);
                    font-family: var(--font-open-sens);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: 0.64px;
                }
            }
        }
    }

}

.FeaturedCases_Wrapper {
    padding-top: 84px;
    padding-bottom: 154px;

    @media (max-width:768px) {
        padding-bottom: 40px;
    }

    .title {
        color: var(--black);
        font-family: var(--font-mulish);
        font-size: 50px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 96px;
        text-align: center;

        @media (max-width:1199px) {
            font-size: 32px;
            line-height: 68px;
            margin-bottom: 40px;
        }

        @media (max-width:480px) {
            font-size: 26px;
            line-height: 38px;
        }

        @media (max-width:360px) {
            font-size: 22px;
            line-height: 32px;
        }
    }

    .taskManagement_wrap {
        display: grid;
        grid-template-columns: 500px 1fr;
        gap: 100px;

        @media (max-width:1199px) {
            grid-template-columns: 1fr;
        }

        @media (max-width:768px) {
            gap: 18px;
        }

        .taskContent {
            @media (max-width:768px) {
                order: 2;
            }

            .main_kind {
                color: var(--black);
                font-family: var(--font-mulish);
                font-size: 32px;
                font-weight: 700;
                line-height: 38px;
                margin-bottom: 28px;

                @media (max-width:1199px) {
                    font-size: 26px;
                    line-height: 38px;
                }

                @media (max-width:480px) {
                    font-size: 26px;
                    line-height: 38px;
                }

                @media (max-width:360px) {
                    font-size: 22px;
                    line-height: 32px;
                }
            }

            .description {
                color: var(--secondary);
                font-family: var(--font-open-sens);
                font-size: 14px;
                font-weight: 400;
                line-height: 25.6px;
                letter-spacing: 0.56px;
                margin-bottom: 50px;

                @media (max-width:768px) {
                    font-size: 14px;
                }
            }
        }

        .taskSlider {
            @media (min-width:1199px) {
                width: 737px !important;
            }

            @media (max-width:768px) {
                order: 1;
            }

            // @media (max-width:1199px) {
            //     width: 1024px;
            // }
            // @media (max-width:1024px) {
            //     width: 960px;
            // }
            // @media (max-width:992px) {
            //     width: 960px;
            // }
            // @media (max-width:820px) {
            //     width: 820px;
            // }
            // @media (max-width:768px) {
            //     width: 768px;
            // }
            // @media (max-width:440px) {
            //     width: 440px;
            // }
            // @media (max-width:360px) {
            //     width: 360px;
            // }
            // @media (max-width:320px) {
            //     width: 320px;
            // }

            .mySwiper {
                position: relative;
                padding-bottom: 100px;
                padding-top: 20px;
                padding-left: 16px;
                // width: 100%;
                height: 100%;

                @media (min-width:1199px) {
                    width: 737px;
                }

                @media (max-width:768px) {
                    padding-bottom: 50px;
                }


                // @media (max-width:1024px) {
                //     width: 960px;
                // }
                // @media (max-width:992px) {
                //     width: 960px;
                // }
                // @media (max-width:820px) {
                //     width: 820px;
                // }
                // @media (max-width:768px) {
                //     width: 768px;
                // }
                // @media (max-width:440px) {
                //     width: 440px;
                // }
                // @media (max-width:360px) {
                //     width: 360px;
                // }
                // @media (max-width:320px) {
                //     width: 320px;
                // }
                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .SliderImage {
                    border-radius: 32px;
                    object-fit: cover;
                    object-position: center;
                    display: block;

                    // margin: 0 auto;
                    @media (max-width:320px) {
                        width: 100%;
                    }
                }

            }
        }
    }
}