.headerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: var(--white);
    z-index: 99;
    transition: all .2s ease;

    &.stickyActive {
        padding: 10px 0;
        background-color: rgba(179, 179, 179, 0.37);
        backdrop-filter: blur(25px);

        .header {
            .logo {
                .logoImage {
                    height: 44px;
                }
            }

            .contactButton {
                padding: 10px 18px;
                font-size: 14px;
                font-weight: 600;
                
            }

            .menu {
                .menuItem {
                    font-size: 14px;
                }
            }
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            .logoImage {
                transition: height .2s ease;
            }
        }

        .contactButton {
            display: flex;
            padding: 10px 24px;
            justify-content: center;
            align-items: center;
            font-family: var(--font-lato);
            border-radius: 8px;
            background: var(--primary);
            box-shadow: 0px 10px 40px -10px rgba(123, 193, 141, 0.61);
            border: none;
            color: #FFF;
            text-align: center;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            transition: all .2s ease;
            cursor: pointer;
        }


        .menu {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 34px;

            .menuItem {
                color: var(--secondary);
                font-family: var(--font-open-sens);
                font-size: 16px;
                font-weight: 700;
                line-height: 120%;
                text-transform: uppercase;
                transition: all .2s ease;

                &:hover {
                    color: var(--primary);
                }
            }

            .dropdown {
                position: relative;

                &:hover {
                    .dropdown_List {
                        visibility: visible;
                        transform: translateY(0);
                    }
                }

                .menuItem {
                    color: var(--secondary);
                    font-family: var(--font-open-sens);
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    transition: all .2s ease;
                    position: relative;
                    padding-right: 16px;

                    &::after {
                        content: "";
                        background: url("../../assets/icons/arrow.svg") no-repeat center;
                        height: 5px;
                        width: 10px;
                        position: absolute;
                        top: 50%;
                        right: -4px;
                        transform: translateY(-50%);
                    }

                    &:hover {
                        color: var(--primary);

                        &::after {
                            background: url("../../assets/icons/arrow-green.svg") no-repeat center;
                        }

                        .dropdown_List {
                            visibility: visible;
                            background-color: red;
                        }
                    }
                }

                .dropdown_List {
                    position: absolute;
                    top: 40px;
                    left: 0;
                    background-color: var(--white);
                    color: var(--black);
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    padding: 20px 22px;
                    border-radius: 6px;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px;
                    // min-width: 142px;
                    transform: translateY(15px);
                    transition: all .2s linear;

                    visibility: hidden;

                    .dropdown_Item {
                        color: var(--secondary);
                        font-family: var(--font-open-sens);
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 20px;
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                        gap: 12px;
                        transition: color .2s linear;
                        .icon{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        &:hover {
                            color: var(--primary);
                        }
                    }
                }
            }
        }
    }



}