.footerWrapper {
    padding: 109px 0 18px 0;
    border-top: 1px solid var(--primary);
    background: #FFF;

    @media (max-width:480px) {
        padding: 40px 0 18px 0;
    }

    .footerHead {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 117px;
        margin-bottom: 54px;

        @media (max-width:1024px) {
            gap: 42px;
            flex-wrap: wrap;
        }

        .footerDescription {
            color: #020514;
            font-family: var(--font-open-sens);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;

            @media (max-width:1024px) {
                order: 3;
            }
            @media (max-width:480px) {
                font-size: 14px;
            }
        }

        .socialMedia {
            display: flex;
            align-items: center;
            gap: 15px;

            @media (max-width:1024px) {
                order: 2;
            }

            .socialMediaItem {
                .socialMediaLink {
                    border-radius: 50px;
                    background: var(--primary);
                    display: flex;
                    width: 41.39px;
                    height: 41.39px;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .footerBody {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 50px;

        @media (max-width:480px) {
            // gap: 40px;
            flex-wrap: wrap;
        }

        .websiteLink {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 133px;

            @media (max-width:1024px) {
                gap: 40px;
                flex-wrap: wrap;
            }

            @media (max-width:480px) {
                gap: 60px;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
            }


            .otherLink,
            .companyLink {
                .footertitle {
                    color: var(--primary);
                    font-family: var(--font-mulish);
                    font-size: 20px;
                    font-weight: 800;
                    line-height: 30px;
                    margin-bottom: 28px;


                }

                .url {
                    color: var(--black);
                    text-align: center;
                    font-family: var(--font-mulish);
                    font-size: 15.833px;
                    font-weight: 500;
                    line-height: normal;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-bottom: 24.76px;
                    justify-content: space-between;

                    @media (max-width:1024px) {
                        // order: 2;
                    }
                }
            }
        }

        .addressWrap {
            @media (max-width:480px) {
                width: 100%;
            }
            .footertitle {
                color: var(--primary);
                font-family: var(--font-mulish);
                font-size: 20px;
                font-weight: 800;
                line-height: 30px;
                margin-bottom: 28px;
                
            }

            .contactWrap {
                display: flex;
                align-items: center;
                gap: 12px;

                &:not(:last-child) {
                    margin-bottom: 16px;
                }

                .address {
                    color: var(--black);
                    font-family: var(--font-open-sens);
                    font-size: 15.8px;
                    font-weight: 500;
                    line-height: 30px;
                    @media (max-width:480px) {
                        font-size: 14px;
                        line-height: 26px;
                    }
                }
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding-top: 18px;
        border-top: 1px solid var(--primary);
        @media (max-width:480px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        .copyRightTitle {
            color: var(--primary);
            font-family: var(--font-mulish);
            font-size: 12px;
            font-weight: 600;
            line-height: 19.2px;
        }
        
        .securityList {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 86px;
            @media (max-width:480px) {
                gap: 20px;
            }

            .securityItem {
                .securityLink {
                    color: var(--primary);
                    font-family: var(--font-mulish);
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 19.2px;
                }
            }
        }
    }
}